@{
    ViewData["Title"] = "Shop Page";
}

<section class="section-services">
<div class="container">
    <h2 class="section-header">Наши услуги</h2>    
    <p class="sectiod-description">Ознакомьтесь с услугами, которые можно получить на нашем сайте</p>
    
        <ul class="section-services-list">
            <li class="section-service-li" href="">
                <div class="li-service-icon"></div>
                <img class="li-service-img" src="../Img/bread.png" />
                <strong class="li-service-name">Получить консультацию по товару</strong>
                <p class="li-service-descr">описание</p>
            </li>
            <li class="section-service-li">
                <div class="li-service-icon"></div>
                <img class="li-service-img" src="../Img/bread.png" />
                <strong class="li-service-name">Купить товар</strong>
                <p class="li-service-descr">описание</p>
            </li>
            <li class="section-service-li">
                <div class="li-service-icon"></div>
                <img class="li-service-img" src="../Img/bread.png" />
                <strong class="li-service-name">Получить кулинарный рецепт</strong>
                <p class="li-service-descr">описание</p>
            </li>
        </ul>
    
    
    
    
</div>
</section>