@page
@model hw20.Views.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>testClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.testClass.price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.testClass.price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="testClass.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
