<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - hw20</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/DataTables/datatables.min.js"></script>

    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css"/>

</head>
<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" title="Голень Единорога - мясная лавка">
                    <img class="LogoSvg" src ="~/img/LogoRocketcorn.svg" alt="Логотип компании" />
                </a>

                <div class="navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ProdCatalog" asp-action="ProdCatView" title="ProdCatalog/ProdCatView" >Каталог</a>
                            
                        </li>

                    </ul>
                </div>
        
    @{
                int cartItemsItemsCount = 0;
                int cartItemsPositionsCount = 0;
                var cart = (Context.Session.Get<DomainBasic.Cart>("Cart") as DomainBasic.Cart);
                if (cart != null)
                {
                     cartItemsPositionsCount = (Context.Session.Get<DomainBasic.Cart>("Cart") as DomainBasic.Cart).CartOrderItems.Count;
                     cartItemsItemsCount = (Context.Session.Get<DomainBasic.Cart>("Cart") as DomainBasic.Cart).CartOrderItems.Sum(x=> x.Quantity);
                }
                
    }            
            
            <a id="CartItemsLinkId" class="nav-link text-dark" 
                                    asp-area="" asp-controller="Cart" 
                                    asp-action="CartView"
                                    title="В корзине @cartItemsPositionsCount наименований @cartItemsItemsCount элементов">В корзине: @cartItemsPositionsCount (@cartItemsItemsCount)</a>        
            
            </div>
         

                


        </nav>
        
    </header>
    <div class="container">
        <div class="posAbsCentrOut">
            <span id="pinId" class="pinIcon hidden" onclick="pinMessage()"></span>
            <div id=infoMessage class="posAbsCentrInner messageInfo hidden">
                This is default message for message template. Be nice to it.
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - hw20 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
